
    <section id="intro">
        <div class="intro-body">
            <div class="container my-panel">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1" style="padding: 0">
                        <h1>Kartikeya Shukla</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="about-body">
            <div class="container my-panel">
                <div class="about-title text-center">
                    <h2>About</h2>
                </div>
                <div class="about-content">
                    <hr>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
                        <table class="table">
                            <thead class="text-left">
                            <tr>
                            </tr>
                            </thead>
                            <tbody class="text-left" style="text-align: justify">
                            <tr>
                                <td>
                                    <p>Hello <em><strong>Interwebs!</strong></em>
                                        <br>
                                        <br> My name is Kartikeya, I'm a Masters graduate in Computer Science from Northeastern University and this is my website.
                                        <br>
                                        <br> I love to explore and learn new technologies. But my interests mainly revolve around <strong>Machine Learning & Web Dev</strong>.
                                        <br>
                                        <br> When I'm not <strong><em>coding</em></strong>, I'm usually watching a movie.
                                        <br>
                                        <br> Feel free to look around. Enjoy!
                                        <br> If you have any feedback please do let me know, if not just say Hi :)
                                        <br>
                                        <br> ¯\_(ツ)_/¯
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6" style="text-align:center;">
                        <table class="table">
                            <thead>
                            <th class="text-center"> <h4 class="this-guy">This guy  ↓ </h4> </th>
                            </thead>
                            <tbody>
                            <tr>
                                <td><img src="assets/me.jpg" alt="..." class="me-img img-circle"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="work">
        <div class="work-body">
            <div class="container my-panel">
                <div class="work-title text-center">
                    <h2>Experience</h2>
                </div>
                <div class="work-content">
                    <hr>
                    <div class="text-center">
                        <h4> Education <i class="fa fa-graduation-cap"></i></h4>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="job">
                                <h3>Northeastern University
                                    <span class="company-logo">
                                            <img src="assets/neu.png" width="25" height="25">
                                        </span>

                                    <span class="pull-right hidden-xs">
                                            <h6>Boston, MA</h6>
                                        </span>

                                </h3>
                                <small><em>Master's Computer Science (MS)</em></small>
                                <ul>
                                    <li> Subjects taken: Machine Learning, Computer Graphics, Web Developement, Computer Systems, Programming Desgin Paradigm, Algorithms and Fundamentals of AI </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="job">
                                <h3>Jaypee University
                                    <span class="company-logo">
                                            <img src="assets/juet-min.png" width="25" height="25">
                                        </span>
                                    <span class="pull-right hidden-xs">
                                             <h6>Guna, India</h6>
                                        </span>
                                </h3>
                                <small><em>Bachelor's of Technology (B.Tech) </em></small>
                                <ul>
                                    <li> Sport Secretary for Jaypee University of Engineering and Technology’s Youth Club </li>
                                    <li> Captain of the University Soccer Team</li>
                                    <li> Subjects taken: Compiler Design, Object Oriented Design, Data Structures and Algorithms</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr style="padding: 0">
                    <div class="text-center">
                        <h4> Professional <i class="fa fa-cog fa-spin fa-fw"></i></h4>
                    </div>
                    <hr style="padding: 0;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="job">
                                <h3>NVIDIA
                                    <span class="company-logo">
                                            <img src="assets/nvidia.jpeg" width="25" height="25">
                                        </span>
                                    <span class="pull-right">
                                            <h6>Santa Clara, CA</h6>
                                        </span>
                                </h3>
                                <small><em>Graphics Software Intern</em></small>
                                <ul>
                                    <li> Implemented a text rendering utility in OpenGL ES which is now being used as the standard solution in the company’s testing application.</li>
                                    <li> Partnered with the Automotive Embedded Graphics team, and contributed to OpenGL ES, EGL, Linux implementations and bug fixes.</li>
                                    <li> Integrated ccache to code base to reduce build times by 30%, for the Embedded-linux workforce.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="job">
                                <h3>Accenture
                                    <span class="company-logo">
                                            <img src="assets/accenture.jpg" width="25" height="25">
                                        </span>
                                    <span class="pull-right">
                                            <h6>Bangalore, India</h6>
                                        </span>
                                </h3>
                                <small><em>Software Engineering Analyst</em></small>
                                <ul>
                                    <li> Promoted from Associate Software Engineer </li>
                                    <li> Designed and implemented custom workflows & request-types using PPM and Oracle PL/SQL to automate multiple scheduled activities, which reduced effort hours by 85%.</li>
                                    <li> Performed data analysis on client project planning data, and help formulate a process for migration to IBM Rational tools, and spearheaded the Microsoft Project Server conversion production release.</li>
                                    <li> Reduced time, by 90%, for performing pre-migration activities by developing Excel macro utility using VB.NET. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="projects">
        <div class="project-body">
            <div class="container my-panel is-light">
                <div class="projects-title text-center">
                    <h2>Projects</h2>
                </div>

                <div class="projects-content">
                    <hr>
                    <div class="visible-xs visible-sm">

                        <div class="text-center" style="font-size: 11px">
                            <em>Please visit the site on larger screen for a detailed & interactive list of projects</em>
                        </div>

                        <br>

                        <table class="table project-table">
                            <tbody>
                            <tr>
                                <td>Connexion</td>
                                <td>MEAN Stack</td>
                                <td><a href="http://Connexion.herokuapp.com" target="_blank"><i class="fa fa-code "></i></a></td>
                            </tr>
                            <tr>
                                <td>Machine Learning</td>
                                <td>Java</td>
                                <td><a href="https://github.com/Qartks89/shukla-kartikeya-webdev" target="_blank"><i class="fa fa-code "></i></a></td>
                            </tr>
                            <tr>
                                <td>Particle Systems</td>
                                <td>Processing</td>
                                <td><a href="#/particlesystems"><i class="fa fa-code "></i></a></td>
                            </tr>
                            <tr>
                                <td>Computer Systems</td>
                                <td>C</td>
                                <td><a href="https://github.com/Qartks89/filesystems" target="_blank"><i class="fa fa-code "></i></a></td>
                            </tr>
                            <tr>
                                <td>DiscoGolem...</td>
                                <td>Unity</td>
                                <td><a href="#/disco"><i class="fa fa-code "></i></a></td>
                            </tr>
                            <tr>
                                <td>WebApp Maker</td>
                                <td>MEAN Stack</td>
                                <td><a href="https://github.com/Qartks89/shukla-kartikeya-webdev" target="_blank"><i class="fa fa-code "></i></a></td>
                            </tr>
                            <tr>
                                <td>Pacman AI Projects</td>
                                <td>Python</td>
                                <td><a href="https://github.com/Qartks89/PacMan-Projects-Artificial-Intelligence" target="_blank"><i class="fa fa-code "></i></a></td>
                            </tr>
                            <tr>
                                <td>IMDB Movie Ratings</td>
                                <td>R</td>
                                <td><a href="https://github.com/Qartks89/Predicting-IMDB-Movie-Ratings-Project" target="_blank"><i class="fa fa-code "></i></a></td>
                            </tr>
                            <tr>
                                <td>Feature Detection</td>
                                <td>R</td>
                                <td><a href="#/svm"><i class="fa fa-code "></i></a></td>
                            </tr>
                            <tr>
                                <td>Shader Deconstruction</td>
                                <td>Cgfx</td>
                                <td><i class="fa">ಠ_ಠ</i></td>
                            </tr>
                            <tr>
                                <td>Intelligent Transport System</td>
                                <td>MATLAB</td>
                                <td><i class="fa">ಠ_ಠ</i></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="categories hidden-xs hidden-sm">
                        <ul class="cat">
                            <li>
                                <ol class="type">
                                    <li><a href="#" data-filter=".nostrud">Featured</a></li>
                                    <li><a href="#" data-filter=".lorem">Graphics</a></li>
                                    <li><a href="#" data-filter=".consectetur">Web Development</a></li>
                                    <li><a href="#" data-filter=".dapibus">ML & AI</a></li>
                                    <li><a href="#" data-filter=".tempor">OS</a></li>
                                    <li><a href="#" data-filter="*">All</a></li>
                                    <!--<li><a style="border: none; background: none" href="#" data-filter=".none"><small><em>Clear</em></small></a></li>-->
                                </ol>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row hidden-xs hidden-sm">
                        <div class="project-items">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nostrud consectetur">
                                <div class="portfolio-item">
                                    <div class="project-item">
                                        <div>
                                            <h3>Connexion - <em>MEAN Stack</em>
                                                <a class="btn" href="http://Connexion.herokuapp.com" target="_blank"><i class="fa fa-code "></i> <em>Link</em></a>
                                            </h3>
                                            <div class="project-details">
                                                <ul>
                                                    <li>Developed a web application to help people meet, collaborate, share recommendations and search for events and groups. </li>
                                                    <li>Designed the architecture and implemented the server-side components with Node.js & MongoDB using Mongoose as ORM. </li>
                                                    <li>Developed the front-end using AngularJS, Bootstrap and Angular Material.</li>
                                                    <li>Integrated with third party APIs including Twitter, Flickr, Google Maps.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nostrud dapibus">
                                <div class="project-item">
                                    <div>
                                        <h3>Machine Learning - <em>Java</em>
                                            <a class="btn" href="https://github.com/Qartks89/Machine-Learning" target="_blank"><i class="fa fa-code "></i> <em>Link</em></a>
                                        </h3>
                                        <div class="project-details">
                                            <ul>
                                                <li>Built an email spam classifier by implementing various machine learning algorithms like Decision trees, Linear and Logistic Regression, KNN and Active learning.</li>
                                                <li>Implemented a handwriting recognition system using HAAR feature extraction, ECOC algorithm coupled with SMO and Adaptive Boosting techniques.</li>
                                                <li>Developed three-layered Neural Network to solve auto encoder decoder problem.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nostrud lorem">
                                <div class="project-item">
                                    <div>
                                        <h3>Particle Systems - <em>Processing</em>
                                            <a class="btn" ng-click="model.goToPS()"><i class="fa fa-code "></i> <em>Link</em></a>
                                        </h3>
                                        <div class="project-details">
                                            <ul>
                                                <li>Designed and built a working particle system with GUI controls, to modify the behavior of particles such as gravity, texture, velocity etc.</li>
                                                <li>Documented a tutorial on how to build a particle system.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nostrud tempor">
                                <div class="portfolio-item">
                                    <div class="project-item">
                                        <div>
                                            <h3>Computer Systems - <em>C</em>
                                                <a class="btn" href="https://github.com/Qartks89/filesystems" target="_blank"><i class="fa fa-code "></i> <em>Link</em></a>
                                            </h3>
                                            <div class="project-details">
                                                <ul>
                                                    <li>Implemented a file system with read/write command-line capabilities to interact with the kernel. A simple derivative
                                                        of the Unix FFS file system, using the FUSE toolkit in Linux.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 lorem">
                                <div class="portfolio-item">
                                    <div class="project-item">
                                        <div>
                                            <h3>DiscoGolemVsTheFireNinjas - <em>Unity</em>
                                                <a class="btn" href="DiscoGolem.html" target="_blank"><i class="fa fa-code "></i> <em>Link</em></a>
                                            </h3>
                                            <div class="project-details">
                                                <ul>
                                                    <li>Developed a basic 3D 3rd person shooter (survival game) for the Web, mobile and PC using Unity and scripting in C#.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 consectetur">
                                <div class="portfolio-item">
                                    <div class="project-item">
                                        <div>
                                            <h3>WebApp Creator - <em>Full Stack</em>
                                                <a class="btn" href="https://github.com/Qartks89/shukla-kartikeya-webdev" target="_blank"><i class="fa fa-code "></i> <em>Link</em></a>
                                            </h3>
                                            <div class="project-details">
                                                <ul>
                                                    <li>Developed a basic web application to create web pages/blog posts.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dapibus">
                                <div class="portfolio-item">
                                    <div class="project-item">
                                        <div>
                                            <h3> Pacman AI Projects - <em>Python</em>
                                                <a class="btn" href="https://github.com/Qartks89/PacMan-Projects-Artificial-Intelligence" target="_blank"><i class="fa fa-code "></i> <em>Link</em></a>
                                            </h3>
                                            <div class="project-details">
                                                <ul>
                                                    <li>Implemented classical and adversarial search techniques in the Pacman game. Also used reinforced learning & machine learning concepts like Naive Bayes, Perceptron, and MDP etc.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 lorem">
                                <div class="portfolio-item">
                                    <div class="project-item">
                                        <div>
                                            <h3>Feature Detection - <em>R</em>
                                                <a class="btn" ng-click="model.goToSVM()"><i class="fa fa-code "></i> <em>Link</em></a>
                                            </h3>
                                            <div class="project-details">
                                                <ul>
                                                    <li>Researched Support Vector Machines and implemented a model in R using package e1071 - to detect if whether a subject is wearing glasses or not.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 lorem">
                                <div class="portfolio-item">
                                    <div class="project-item">
                                        <div>
                                            <h3>Shader Deconstruction - <em>Cgfx</em>
                                            </h3>
                                            <div class="project-details">
                                                <ul>
                                                    <li>Implemented and performed code analysis on a Gooch style shader by deconstructing/reverse-engineering a shader from Nvidia’s shader library.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dapibus">
                                <div class="portfolio-item">
                                    <div class="project-item">
                                        <div>
                                            <h3>IMDB Movie Ratings  - <em>R</em>
                                                <a class="btn" href="https://github.com/Qartks89/Predicting-IMDB-Movie-Ratings-Project" target="_blank"><i class="fa fa-code "></i> <em>Link</em></a>
                                            </h3>
                                            <div class="project-details">
                                                <ul>
                                                    <li> Predicted popularity ratings of a movie based on actors, directors and other attributes. </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 lorem dapibus">
                                <div class="portfolio-item">
                                    <div class="project-item">
                                        <div>
                                            <h3>Intelligent Transport System - <em>MATLAB</em></h3>
                                            <div class="project-details">
                                                <ul>
                                                    <li>Researched new topics like Image Processing, Mathematical modeling &amp; Neural networks and used them to develop a working system to control and predict traffic in a city using MATLAB.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="social">
        <div class="social-body">
            <div class="container my-panel">
                <!--<div class="social-title text-center">-->
                <!--<div class="card">-->
                <!--<div class="front">-->
                <!--<h2>Follow</h2>-->
                <!--<hr>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="social-content">
                    <li><a href="mailto:kartikeya.1989@gmail.com"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="https://www.github.com/qartks89" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/kartikeyashukla19" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.twitter.com/qartks89" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/qartks89/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <!--<li><a href="https://www.facebook.com/kartikeya.shukla89" target="_blank"><i class="fa fa-facebook"></i></a></li>-->
                </div>

                <div class="text-center">
                    <br>
                    <a class="btn resume-btn" href="assets/Kartikeya-Shukla-Resume.docx" target="_blank"> Resume </a>
                </div>
            </div>
        </div>
    </section>

    <div id="footer">
        <div class="container">
            <p><small>Thanks for visiting :)</small></p>
        </div>
    </div>

    <script src="js/main.js"></script>